section{
  padding:40px 0;
}

.primary-section{
  background-color:$primary-color;
  color:$secondary-color;
}

.secondary-section{
  background-color:$secondary-color;
  color:$tertiary-color;
}

.bridge-section{
  @extend .primary-section;
  font-size:$tertiary-font;
  font-weight:$bold-weight;
  text-transform:uppercase;
}

.bridge{
  width:100%;
  display:inline-block;
  position:relative;
}

.line{
  position:absolute;
  top:15px;
  width:100%;

}

.img-border{
  border:1px solid white;
  display:inline-block;
  width:90px;
  height:90px;
  line-height:80px;
}

.img-border:hover{
  border:2px solid white;
  @include border-radius(50%);
  transition: 0.3s;
  -webkit-transition:0.3s;
}

.bridge-section-two{
  font-size:$tertiary-font;
  font-weight:$bold-weight;
  text-transform:uppercase;
}

.hr-primary{
  border-top: 1px solid $primary-color;
}

.true-false{
  padding-left:30px;
  @include bp-helper {
    padding-left:70px;
  }

  @include bp-medium {
      padding-left:10px;
  }

}

.false{
  width:140px;
  margin-left:40px;

  p{
    padding-top:10px;
      span{
      @include bp-medium {
      margin-left:-12px;
      }
    }
  }

  @include bp-medium {
    margin:0;
    width:100px;
  }
  @include bp-tablet {
    float:right;
  }
}

.true{
  width:140px;
  p{
    padding-top:10px;
  }
  @include bp-medium {
    width:100px;
  }
}

.primary-price{
  color:$primary-color;
}

.secondary-price{
  color:$tertiary-color;
  font-weight:400;
  font-style:italic;
}

.shr-img{
  padding-left:20px;
  @include bp-medium {
  padding-left:0;
  }
}
