$body-font:100%;
$primary-family:'Open Sans', sans-serif;
$primary-color:#00daee;
$secondary-color:#fff;
$tertiary-color:#464646;
$primary-font:14px;
$quaternary-color:#55e4f1;
$secondary-font:13px;
$tertiary-font:18px;
$quaternary-font:17px;
$bold-weight:700;
$semi-bold-weight:600;
$light-weight:300;
